<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Go web player</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!userService.currentUser()">
              <a [routerLink]="['Login']">Login</a>
            </li>

            <li *ngIf="!userService.currentUser()">
              <a [routerLink]="['Register']">Register</a>
            </li>

            <li *ngIf="userService.currentUser()">
              <img src="{{userService.currentUser().url}}" height="30" width="30" />
              <a [routerLink]="['User', 'UserDashboard']" style="display: inline; line-height: 50px;">{{userService.currentUser().email}}</a>
            </li>

            <li *ngIf="userService.currentUser()">
              <a href="#" (click)="logout();">Logout</a>
            </li>
          </ul>

          <ul class="nav navbar-nav">
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ng2-toasty></ng2-toasty>
      <loading [isRunning]="isRunning"></loading>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
