<div class="main_container">
  <div class="first_column">
    <h1>Angular 2: Go Editor</h1>

    <div class="info_column">
      <h3>Game Info</h3>

      <p>Hover Position: <span class="info">{{ "(" + boardHoverPosition[0] + ', ' +  boardHoverPosition[1] + ")"}}</span></p>
      <p>Name: <span class="info">{{ board.getName() }}</span></p>
      <p>ID: <span class="info">{{ board.getId() }}</span></p>
      <p>Size: <span class="info">{{ board.getSize() }}</span></p>
      <p>Style: <span class="info">{{ board.getMode() }}</span></p>
      <p>#moves: <span class="info">{{ board.getMovesCount() }}</span></p>
      <p>#FollowedTurnPasses: <span class="info">{{ board.getFollowedTurnPasses() }}</span></p>
      <p>Has game ended?: <span class="info">{{ board.isGameEnded() }}</span></p>
    </div>

    <div class="two_columns">
      <h3>Board Tools</h3>

      <button class="btn-blue" (click)="setMode('free')">Free style</button>
      <button class="btn-blue" (click)="setMode('game')">Game style</button>
      <button class="btn-blue" (click)="changeColors()">Change colors</button>
      <button class="btn-blue" (click)="resetBoard()">Reset</button>
      <div class="clearfix"></div>

      <button class="btn-green" *ngIf="board.getMode() === 'free'"
              (click)="setTool('black_stone')">Black Stone</button>
      <button class="btn-green" *ngIf="board.getMode() === 'free'"
              (click)="setTool('white_stone')">White Stone</button>
      <button class="btn-green" *ngIf="board.getMode() === 'free'"
              (click)="setTool('remove_stone')">Remove Stone</button>
      <button class="btn-green" *ngIf="board.getMode() === 'game'"
              (click)="onPassTurn()">Pass Turn</button>
      <div class="clearfix"></div>

      <button class="btn-blue" (click)="playExampleSequence()">Play Example Sequence</button>
      <!--<button class="btn-blue" (click)="toggleBoardRepresentation()">Show Board Matrix</button>-->
      <div class="clearfix"></div>

      <div *ngIf="board.isGameEnded()">
        <button class="btn-green" (click)="onCountBoard()">Count</button>
        <p>Final message: <span class="info">{{ countMessage }}</span></p>
      </div>
      <div class="clearfix"></div>

      <p>#captured by black: <span class="info">{{ board.getCapturedWhiteStones() }}</span></p>
      <p>#captured by white: <span class="info">{{ board.getCapturedBlackStones() }}</span></p>
    </div>
    <div class="clearfix"></div>

    <div class="info_column">
      <h3>Game Rules</h3>

      <p>Komi: <span class="info">{{ board.getGameRules().getKomi() }}</span></p>
      <p>Handicap: <span class="info">{{ board.getGameRules().getHandicap() }}</span></p>
      <p>MainTime: <span class="info">{{ board.getGameRules().getMainTime() }} minutes</span></p>
      <p>ByoYomiTime: <span class="info">{{ board.getGameRules().getByoYomiTime() }} seconds</span></p>
      <p>ByoYomiPeriods: <span class="info">{{ board.getGameRules().getByoYomiPeriods() }}</span></p>
      <p>Privacy: <span class="info">{{ board.getGameRules().getPrivacy() }}</span></p>
      <p>Style: <span class="info">{{ board.getGameRules().getType() }}</span></p>
    </div>

    <!--<div class="two_columns">
      <h3 *ngIf="showBoardRepresentation">Board represetation</h3>

      <div *ngIf="showBoardRepresentation" [innerHTML]="board.toString()"
            id="board_representation">
      </div>
    </div>-->

    <div class="two_columns">
      <h3>Game Info</h3>

      <p>Nodes count: <span class="info">{{ board.getBoardTree().getNodeCount() }}</span></p>

      <div class="btn-group">
        <button class="btn btn-sm btn-info" (click)="board.getBoardTree().moveLeft();">Left</button>
        <button class="btn btn-sm btn-info" (click)="board.getBoardTree().moveRight();">Right</button>
        <br><br>
        <button class="btn btn-sm btn-info" (click)="board.getBoardTree().moveUp();">Up</button>
        <button class="btn btn-sm btn-info" (click)="board.getBoardTree().moveDown();">Down</button>
      </div>

      <p><strong>Current sequence:</strong></p>
      <div class="sequence">{{board.getBoardTree().getCurrentSequenceString()}}</div>

      <p><strong>Tree represetation:</strong></p>
      <div id="tree_representation" [innerHTML]="board.getBoardTree().toString()"></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="second_column">
    <div class="board_container">
      <div class="board {{ 'size_' + board.getSize() }}">
        <div *ngFor="#line_number of boardIterator; #line_index = index" id="{{ line_index }}" class="line">
          <span *ngFor="#cell_number of boardIterator;
                        #cell_index = index"
                (click)="onCellClick(cell_index, line_index)"
                (mouseover)="onCellHover(cell_index, line_index)"
                [class.empty]="board.isEmpty(cell_index, line_index)"
                [class.black_hover]="board.isEmpty(cell_index, line_index) &&
                                   ((board.isGameModeSetted() && !board.isGameEnded() && board.isBlackTurn())
                                 || (board.isFreeModeSetted() && board.isBlackStoneToolSetted()))"
                [class.white_hover]="board.isEmpty(cell_index, line_index) &&
                                   ((board.isGameModeSetted() && !board.isGameEnded() && board.isWhiteTurn())
                                 || (board.isFreeModeSetted() && board.isWhiteStoneToolSetted()))"
                [class.captured_mark_hover]="board.isCountingModeSetted() &&
                                            !board.isEmpty(cell_index, line_index) &&
                                             board.isGameEnded()"
                id="{{ line_index + '_' + cell_index }}"
                class="cell">
            <span [class.black]="board.getCell(cell_index, line_index).hasBlackStone()"
                  [class.white]="board.getCell(cell_index, line_index).hasWhiteStone()"
                  [class.captured_mark]="board.isMarked(cell_index, line_index)"
                  class="stone">
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>