body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.main_container {
  width: 100%;
  margin: 0 auto;

  .first_column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0px 10px;
  }

  .second_column {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    float: right;
  }

  .info_column {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
  }

  .two_columns {
    width: 65%;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
  }
}

h1 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

.clearfix {
  clear: both;
  padding: 5px 0px;
}

button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

button.btn-blue {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

button.btn-blue:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

button.btn-green {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

button.btn-green:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

input {
  width: 20px;
  text-align: center;
  border: 0px;
  font-size: 17px;
  border-bottom: 1px solid;
}

.info {
  font-weight: bold;
  font-style: italic;
}